<div class="container my-5">
  <h1 class="text-center">Shopping List </h1>
  <div class="d-flex justify-content-between mb-3">
    <h3 class="text-center">Total: <%= "$#{ @total }" %></h3>
    <div class="d-flex justify-content-end">
    </div>
  </div>
  <table class="table table-sm table-striped table-bordered border-dark ">
    <tr>
      <th> Food Item </th>
      <th> price </th>
      <th> quantity </th>
      <th> Total </th>
    </tr>
    <% @food.each do |food_item| %>
      <tr>
        <% food_item.recipes_foods.each do |recipe| %>
          <% recipe.inventory_foods.each do |inventory| %>
            <td> <%= recipe.name == inventory.name %> </td>
            <td> <%= inventory.quantity %> </td>
            <td> <%= food_item.price * inventory.quantity.to_i %> </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
