<div class="food-view">
<h1 class="welcome">Welcome to the Inventories Page</h1>
<div>
<%= link_to 'Add Inventory', new_user_inventory_path(current_user.id), class: "btn btn-dark" %>
</div>
<h2>Below Is a List Of Inventories in our Recipe App</h2>
 <% Inventory.all.each do |inv| %>
        <div class="card">
        <div class="card-header">
            <%= inv.name %>
        </div>
        <div class="card-body">
            <p class="card-text"> Email: <%= inv.description %></p>
            <% if can? :manage, inventory %>
            <%= button_to "Delete", "user/#{current_user.id}/inventory/#{inventory.id}" , data: {turbo: false}, method: :delete, class: "btn btn-danger" %>
            <% end %>
        </div>
        </div>
    <% end %>
</div>
</div>