 <div>
  <h2> shopping List</h2>

    <div></div>
      <h3>Ingredients</h3>
      <ul>
        <% @foods.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
 </div>
