<div class="user_view">
<h1 class="welcome">Welcome to your <%= @inventory.name %> </h1>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= @inventory.name %> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <%= @inventory.description %> </li>
  </ul>
  </div>

<%= render template: "food/index"  %>
</div>